**/__pycache__/
**/*.py[cod]
**/.venv/
.DS_Store

dcase2026_task1_baseline/.git/

dcase2026_task1_baseline/data/BSD*/
dcase2026_task1_baseline/data/*.csv
dcase2026_task1_baseline/data/class_dict.json
dcase2026_task1_baseline/data/top_class_dict.json
dcase2026_task1_baseline/data/top_class_subclass_dict.json
dcase2026_task1_baseline/data/*.zip
dcase2026_task1_baseline/data/controlled/

dcase2026_task1_baseline/model_output*/
**/*.pth

**/.ipynb_checkpoints/
